@import url("./_variables.css");

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-wrapper {
  padding: var(--lg) var(--xlg);
  width: 80%;
  height: 100vh;
}

.display-heading {
  margin-bottom: var(--lg);
}
